*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    animation: color 12s ease-in-out infinite;
    background-size: 300% 300%;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.container{
    height: 400px;
    width: 400px;
    border: 2px solid black;
}